<h2><%= current_user.username %></h2>

<div class="col-md-6">
  <%= image_tag current_user.avatar.url(:medium) %>
  <p><%=current_user.email %></p>
  <%= link_to 'Edit Profile', edit_user_registration_path(@user), :class => "btn btn-primary" %>
</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading panel-title">
      <h2>Stats</h2>
    </div>
    <div class="panel-body">
      <p>Games Won:</p>
      <p>Games Lost:</p>
      <p>Games Tied:</p>
    </div>
  </div>
</div>

<%= link_to "New Game", new_game_path, :class => "btn btn-info" %>
